body {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    rgb(15, 193, 89),
    rgb(94, 4, 211),
    rgb(191, 18, 203)
  );

  font-family: Arial, sans-serif;
}

.container{
    display: flex;
   flex-direction: column;
   margin:auto;
   margin-top:200px;
   background:#fff;
   padding-bottom:30px;
   
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width:100%;
    margin-top:30px;
}
.text{
    color:rgb(62, 20, 200);
    font-size: 50px;
    font-weight:600 ;
}
.underline{
    width:64px;
    height:6px;
    background:rgb(62, 20, 200);
    border-radius: 9px;
}
.inputs{
    margin-top:50px;
}