body {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    rgb(15, 193, 89),
    rgb(94, 4, 211),
    rgb(191, 18, 203)
  );

  font-family: Arial, sans-serif;
}

.container{
    display: flex;
   flex-direction: column;
   margin:auto;
   margin-top:200px;
   background:#fff;
   padding-bottom:30px;
   width:600px;
   border-radius: 10px;
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width:100%;
    margin-top:30px;
}
.text{
    color:rgb(62, 20, 200);
    font-size: 50px;
    font-weight:600 ;
}
.underline{
    width:64px;
    height:6px;
    background:rgb(62, 20, 200);
    border-radius: 9px;
}
.inputs{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    gap:25px;
}
.input{
    display: flex;
    align-items: center;
    margin:auto;
    width:400px;
    height:50px;
    background: #c2bfc8;
    border-radius: 6px;
    
}
#email{
    margin-left: 30px;
}
.input img{
    margin:0 30px;

}
.input input{
    border-radius:10px ;
}
.forgot-password{
    padding-left:100px;
    margin-top:27px;
    color:rgb(220, 76, 15);
    font-size: 18px;
}
.forgot-password span{
    color:purple;
    cursor:pointer;
}
.submit-container{
    display:flex;
    gap:30px;
    margin:60px auto;  

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width:220px;
    height:60px;
    color:#fff;
    background:#4c00b4;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background:
}
